.wishlist-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wishlist-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.image-container {
    width: 20%;
    margin-right: 20px;
}

.product-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.product-details {
    width: 80%;
}

.product-details h3 {
    margin-bottom: 10px;
}

.actions {
    margin-top: 10px;
}

.actions button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #ccc;
}

.view-product-link {
    text-decoration: none;
    color: #007bff;
}

.view-product-link:hover {
    color: #0056b3;
}
