/* Header.css */
.header {
  background-color: #f8f8f8;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.search-bar {
  padding: 8px 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 300px;
  outline: none;
}

.icon-links a {
  margin-left: 20px;
  color: #555;
}

/* Categories Slider Container */
.categories-slider-container {
  display: flex;
  align-items: center;
  position: relative; /* For positioning buttons */
}

/* Slider Buttons */
.slider-button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  transition: color 0.3s ease;
}

.slider-button:hover {
  color: #333;
}

.slider-button.left {
  left: 0;
}

.slider-button.right {
  right: 0;
}

/* Categories Slider */
.categories-slider {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
  width: 100%; /* Take up remaining space */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.categories-slider::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}

/* Categories List */
.categories-list {
  display: flex;
  cursor: grab;
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
  padding: 0 30px; /* Add some padding to the sides */
}

.category-item {
  padding: 8px 15px;
  margin: 0 10px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #666;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s;
}

.category-item:hover {
  background-color: #e9e9e9;
  color: #333;
}

.category-item.active {
  background-color: #337ab7;
  color: white;
  border-color: #337ab7;
}

