/* components/ProductCard.css */
.product-card {
    max-width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative; /* Make it a positioning context */
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-link {
    text-decoration: none;
    color: inherit;
    display: block; /* Make it fill the card */
  }
  
  .product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .product-info {
    padding: 20px;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-category {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #337ab7;
  }
  
  /* Wishlist Icon Styles */
  .wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #aaa; /* Light grey color */
    transition: color 0.3s ease;
    z-index: 1; /* Ensure it's above other elements */
  }
  
  .wishlist-icon:hover {
    color: #777; /* Darker grey on hover */
  }
